body {



    &.boundaries-bottom div#weekBoundaries>div#boundariesInner {
        /* 下部に表示するオプション */
        position: fixed;
        bottom: 0.1em;
        background-color: var(--ls-main-content-background, var(--lx-gray-02, var(--ls-primary-background-color)));
        z-index: 1;
    }

    &:not(.boundaries-bottom) div#weekBoundaries {
        /* 上下スクロール時の変動をなくすために必要 */
        height: 88px;
    }

    &>div#root>div>main {
        & article>div[data-id*="show-weekday-and-week-number"] {
            & div.heading-item {
                /* プラグイン設定の見た目を変える(heading) */
                margin-top: 3em;
                border-top-width: 1px;
                padding-top: 1em;
            }

            & div.desc-item {

                &[data-key="booleanQuarterlyJournal"]:has(input.form-checkbox:not(:checked))+div.desc-item[data-key="quarterlyJournalSetPageTag"] {
                    display: none;

                    &+div.desc-item[data-key="quarterlyJournalTemplateName"] {
                        display: none;

                    }
                }

                &[data-key="booleanMonthlyJournal"]:has(input.form-checkbox:not(:checked))+div.desc-item[data-key="monthlyJournalSetPageTag"] {
                    display: none;

                    &+div.desc-item[data-key="monthlyJournalTemplateName"] {
                        display: none;

                    }
                }

                &[data-key="booleanWeeklyJournalHeadline"]:has(input.form-checkbox:not(:checked))+div.desc-item[data-key="weeklyJournalHeadlineProperty"] {
                    display: none;
                }

                &[data-key="booleanWeeklyJournalThisWeek"]:has(input.form-checkbox:not(:checked))+div.desc-item[data-key="weeklyEmbed"] {
                    display: none;
                }

                &[data-key="booleanWeeklyJournal"]:has(input.form-checkbox:not(:checked))+div.desc-item[data-key="weeklyJournalSetPageTag"] {
                    display: none;

                    &+div.desc-item[data-key="weeklyJournalTemplateName"] {
                        display: none;

                        &+div.desc-item[data-key="booleanWeeklyJournalHeadline"] {
                            display: none;

                            &+div.desc-item[data-key="weeklyJournalHeadlineProperty"] {
                                display: none;

                                &+div.desc-item[data-key="booleanWeeklyJournalThisWeek"] {
                                    display: none;

                                    &+div.desc-item[data-key="weeklyEmbed"] {
                                        display: none;

                                        &+div.desc-item[data-key="weekNumberOptions"] {
                                            display: none;

                                            &+div.heading-item[data-key="heading011"] {
                                                display: none;

                                                &+div.desc-item[data-key="weekNumberChangeQ"] {
                                                    display: none;

                                                    &+div.desc-item[data-key="weekNumberChangeQS"] {
                                                        display: none;

                                                        &+div.desc-item[data-key="weekNumberChangeSlash"] {
                                                            display: none;

                                                            &+div.desc-item[data-key="weekNumberChangeRevert"] {
                                                                display: none;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }


                &[data-key="booleanBesideJournalTitle"]:has(input.form-checkbox:not(:checked))+div.desc-item[data-key="longOrShort"] {
                    display: none;

                    &+div.desc-item[data-key="underHolidaysAlert"] {
                        display: none;

                        &+div.desc-item[data-key="booleanWeekNumber"] {
                            display: none;

                            &+div.desc-item[data-key="booleanWeekNumberHideYear"] {
                                display: none;

                                &+div.desc-item[data-key="booleanSettingsButton"] {
                                    display: none;

                                    &+div.desc-item[data-key="weekNumberOfTheYearOrMonth"] {
                                        display: none;

                                        &+div.desc-item[data-key="booleanWeekendsColor"] {
                                            display: none;

                                            &+div.desc-item[data-key="booleanRelativeTime"] {
                                                display: none;

                                                &+div.desc-item[data-key="booleanDayOfWeek"] {
                                                    display: none;

                                                    &+div.desc-item[data-key="booleanMonthlyJournalLink"] {
                                                        display: none;

                                                        &+div.desc-item[data-key="booleanUnderLunarCalendar"] {
                                                            display: none;

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &[data-key="booleanBoundaries"]:has(input.form-checkbox:not(:checked))+div.desc-item[data-key="booleanJournalsBoundaries"] {
                    display: none;

                    &+div.desc-item[data-key="booleanBoundariesOnWeeklyJournal"] {
                        display: none;

                        &+div.desc-item[data-key="boundariesBottom"] {
                            display: none;

                            &+div.desc-item[data-key="boundariesWeekStart"] {
                                display: none;

                                &+div.desc-item[data-key="boundariesHighlightColorSinglePage"] {
                                    display: none;

                                    &+div.desc-item[data-key="boundariesHighlightColorToday"] {
                                        display: none;

                                        &+div.desc-item[data-key="booleanNoPageFoundCreatePage"] {
                                            display: none;

                                            &+div.desc-item[data-key="booleanBoundariesFuturePage"] {
                                                display: none;

                                                &+div.desc-item[data-key="booleanBoundariesShowMonth"] {
                                                    display: none;

                                                    &+div.desc-item[data-key="booleanBoundariesShowWeekNumber"] {
                                                        display: none;

                                                        &+div.desc-item[data-key="booleanBoundariesIndicator"] {
                                                            display: none;

                                                            &+div.desc-item[data-key="booleanBoundariesHolidays"] {
                                                                display: none;
                                                            }

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &>div#app-container>div#left-container>div#main-container>div#main-content-container {
            & div.content>div.blocks-container div.ls-block[data-refs-self*='".thisweek"'] a[data-ref=".thisweek"] {
                display: none;
            }

            /* 互換用 #.ThisWeekタグの廃止 */

            & div.is-journals {
                & div.ls-page-title {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;

                    & h1.title {
                        margin-top: .8em;
                        width: fit-content;
                    }
                }

                &>div.relative div div.ls-page-title span#hierarchyLinks {
                    position: absolute;
                    margin-top: -4em;
                }
            }

            & div:is(#journals, .is-journals) h1.title :is(a.title, span.title a) {
                color: inherit;
            }

            & div#weekBoundaries {

                transition: height 0.3s ease-in-out;

                &>div#boundariesInner {
                    display: flex;
                    margin-top: 0.1em;
                    min-width: 40em;
                    width: min-content;
                    margin-left: auto;
                    margin-right: auto;
                    border: 2px solid var(--ls-border-color);
                    box-shadow: 0 0 7px var(--ls-border-color);
                    user-select: none;
                    flex-wrap: wrap;

                    @media (max-width: 1300px) {
                        font-size: .8em;
                        justify-content: unset;
                    }

                    @media (min-width: 1301px) {
                        font-size: .87em;
                        justify-content: center;
                    }

                    &:not(:hover) {
                        opacity: .93;
                    }

                    &:has(>div)>span.day:not(.thisWeek)>span {
                        &.dayOfWeek {
                            display: none;
                        }

                        &.dayOfMonth {
                            height: 1.4em;

                        }
                    }

                    &>span {
                        &.daySide {
                            display: flex;
                            align-items: center;
                            padding: .3em;
                            width: 3.1em;
                            cursor: pointer;
                            opacity: .6;
                            justify-content: center;
                            /* &.daySideScroll
                                    &.daySideWeekNumber */
                        }

                        &.day {
                            width: 3.9em;
                            padding: 0.15em;
                            margin-left: 0.25em;
                            border-radius: 0.2em;
                            cursor: pointer;
                            white-space: nowrap;
                            overflow: hidden;

                            &.thisWeek {
                                background-color: var(--ls-tertiary-background-color);

                                &:hover {
                                    background-color: var(--ls-secondary-background-color);
                                }
                            }

                            &:not(.thisWeek) {
                                background-color: var(--ls-quaternary-background-color);

                                &:hover {
                                    background-color: var(--ls-secondary-background-color);
                                }
                            }

                            & span.dayOfMonth {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.15em;

                                &>span.indicator {
                                    margin-left: .4em;
                                    font-size: .55em;
                                    opacity: .7;
                                }
                            }
                        }
                    }
                }
            }


            & h1.title+span.showWeekday {
                margin-left: 0.75em;
                opacity: .75;
                font-size: 1.1em;
                width: fit-content;

                &>span {
                    margin-left: .75em;
                }
            }
        }
    }

    & div[data-id*="show-weekday-and-week-number"] div.cp__plugins-settings-inner {
        & h2>code {
            display: none;
        }

        & div.heading-item {
            margin-top: 6em;
        }
    }
}