body.show-justify div#main-content-container {

    & div.is-journals div.ls-page-title,
    div#journals div.journal>div.flex div.content>div.foldable-title>div.flex.items-center {
        justify-content: space-around;
    }
}

div#main-content-container {
    & div.is-journals {
        & div.ls-page-title {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            & h1.title {
                margin-top: .8em;
                width: fit-content;
            }
        }

        &>div.relative div div.ls-page-title span#hierarchyLinks {
            position: absolute;
            margin-top: -4em;
        }
    }

    & div:is(#journals, .is-journals) h1.title :is(a.title, span.title a) {
        color: inherit;
    }

    & h1.title+span.showWeekday {
        margin-left: 0.75em;
        opacity: .75;
        font-size: 1.1em;
        width: fit-content;

        &>span {
            margin-left: .75em;
        }
    }


    & div#weekBoundaries {
        height: 92px;
        transition: height 0.3s ease-in-out;

        >div#boundariesInner {
            display: flex;
            margin-top: 0.3em;
            overflow-x: auto;
            width: fit-content;
            font-size: .88em;
            justify-content: center;
            user-select: none;
            flex-wrap: wrap;

            &:has(>div)>span.day:not(.thisWeek)>span {
                &.dayOfWeek {
                    display: none;
                }

                &.dayOfMonth {
                    height: 2em;

                }
            }

            &>span {
                &.daySide {
                    display: flex;
                    align-items: center;
                    padding: .5em;
                    width: 4em;
                    cursor: pointer;
                    /* &.daySideScroll
                    &.daySideWeekNumber */
                }

                &.day {
                    width: 4.8em;
                    padding: 0.15em;
                    margin-left: 0.35em;
                    border-radius: 0.2em;
                    background: var(--color-level-1);
                    cursor: pointer;

                    &:not(.thisWeek) {
                        opacity: .6;
                    }

                    &.thisWeek {
                        background: var(--color-level-2);
                        box-shadow: 0 0 0 1px var(--ls-guideline-color);
                    }

                    &:not(.thisWeek) {
                        opacity: .78;
                    }

                    &:hover {
                        opacity: 1;
                        background: var(--color-level-2);
                    }

                    & span.dayOfMonth {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}